fastapi
uvicorn[standard]
pydantic
typing
pandas
gunicorn
openpyxl
mlflow
boto3
scikit-learn==1.5.1
python-multipart
fsspec
s3fs
streamlit
plotly
seaborn
psycopg2-binary
xgboost==2.1.1

